<br>
<div class="card-deck">
    <div class="card">
    <div class="card-body" style="background-image: url(/assets/ece.jpg);height: 200px; width: 287px;">
           
    </div>
    <div class="card-footer text-center">
          <button class="btn btn-outline-secondary" style="border-radius: 30px;" type="submit" (click)="readBranch('ece')">ECE</button>
    </div>
    </div>
<div class="card">
    <div class="card-body" style="background-image: url(/assets/cse.jpg);">
             
    </div>
    <div class="card-footer text-center">
          <button class="btn btn-outline-primary"  style="border-radius: 30px;" type="submit" (click)="readBranch('cse')">CSE</button>
    </div>
</div>
<div class="card">
    <div class="card-body" style="background-image: url(/assets/mech.jpeg);">
       
    </div>
    <div class="card-footer text-center">
            <button class="btn btn-outline-success"  style="border-radius: 30px;" type="submit" (click)="readBranch('mechanical')">MECH</button>
    </div>
</div>
 <div class="card">
    <div class="card-body" style="background-image: url(/assets/civil.jpg);">
            
    </div>
    <div class="card-footer text-center">
            <button class=" btn btn-outline-primary" type="submit"  style="border-radius: 30px;" (click)="readBranch('civil')">CIVIL</button>
    </div>
</div>
</div>