<div class="row">
    <div class="col-sm-2"><br>
      <a href=""><h4>About Branch</h4></a><br><br><br>
      <a href=""><h4>ECE Seminars</h4></a><br><br><br>
      <a href=""><h4>Eligibility</h4></a><br><br><br>
      <a href=""><h4>Texas Instruments</h4></a><br><br><br>
      <a href=""><h4>Communication</h4></a>
    </div>
    <div class="col-sm-6"><br>
      <h4>  B.Tech. in Electronics and Communications Engineering (ECE) </h4>
<p>The main objective of the BTech (ECE) program is to equip students with necessary core competency to succeed long-term in engineering/
 entrepreneurship careers after completing their B.Tech.and are preparing to undertake PG studies and research as career options.</p>
<br>
<p>As a discipline, ECE focuses on the design of underlying hardware systems. Our curriculum is directed to applications in major areas
such as telecommunications, energy and electronics sectors, while encouraging development of necessary skills for integration of hardware 
and software components. We believe that many creative opportunities exist at the boundaries of traditional CSE and ECE, and have accordingly
planned for cross-training of students across disciplinary boundaries. The curriculum for ECE therefore has many courses in common with the 
CSE program initially. Thereafter, the program in year 3 & 4 is structured to allow customization by individual students based on their own personal preferences.</p>
<br>
<h3>Program Structure</h3> <br>
<p>Core courses in the first four semesters are mentioned below. Courses mentioned in [ ] are electives and the name mentioned is only an example.
The semester mentioned for the core courses is indicative and suggested, and they can be done later/earlier also. However, the pre-requisite requirements
must be kept in mind by a student, if he/she wishes to do a core course in some other semester.
In year 3 & 4, students are required to select Elective Courses according to their choices.</p>

<b>Circuit Theory and Devices (CTD):</b> This course intends to develop problem solving skills and understanding of circuit theory through the application of techniques 
and principles of electrical circuit analysis to common circuit problems. Subsequently, most common aspects such as filter realization and stability will be elaborated
through frequency response analysis, feedback topologies etc. Broadly, the goals of the course are to inculcate understanding of: (a) waveforms, signals, transient, and
steady-state responses of RLC circuits, (b) the ability to apply circuit analysis to AC circuits, and (c) advanced mathematical methods such as Laplace and Fourier
transforms along with linear algebra and differential equations techniques for solving circuits problems.
<br><br>
<b>Embedded Logic Design (ELD):</b> This course will introduce students to the various programmable logic devices (PLDs) available in the market and get them started with
how to program such devices to develop simple applications. First half of this course will be targeting MCU programming and the second half will cover FPGA programming and synthesis.


    </div>
    <div class="col-sm-4">
        <img class="img-fluid-md" src="https://uploads.sarvgyan.com/2014/06/electronics-communication-engineering-image.jpg" alt="">
    </div>
</div>