<div class="row">
    <div class="col-sm-2">
        <a href=""><h4>About Branch</h4></a><br><br><br>
        <a href=""><h4>MECH Seminars</h4></a><br><br><br>
        <a href=""><h4>Eligibility</h4></a><br><br><br>
        <a href=""><h4>Texas Instruments</h4></a><br><br><br>
        <a href=""><h4>Communication</h4></a>
    </div>
    <div class="col-sm-6">

        <p>
            <b>Mechanical engineering</b>, one of the oldest and broadest engineering disciplines, combines engineering physics and 
            mathematics principals with materials science to design, analyze, manufacture and maintain mechanical systems. It is one of the oldest and broadest of the engineering disciplines.
            One of the oldest and broadest fields of engineering, Mechanical engineering deals with the design, construction,
             and use of machines. The programme endows students with the basic understanding and knowledge of how heavy tools
             and machineries work. A student pursuing a mechanical engineering programme will acquire knowledge about designing 
             of automobiles, electric motors, aircrafts and other heavy vehicles.<br>

             Mechanical engineers design everything from new batteries, athletic equipment to medical devices and from personal 
             computers, air conditioners, automobile engines to electric power plants. These engineers also design machines that
              produce these innovations.<br>
             The scope of mechanical engineering in India and abroad is huge for every aspect of our lives are touched by mechanical
              engineering in one way of the other. Spanning multiple industries, the career opportunities for students pursuing the programme is huge.
             In India, Mechanical engineering is offered by various colleges in India at the UG as well PG level where students are awarded
              BTech and MTech degree respectively.<br>
             <b> The fundamental subjects of mechanical engineering usually include:</b><br>

              Mathematics (in particular, calculus, differential equations, and linear algebra)<br>
              Basic physical sciences (including physics and chemistry)<br>
              Statics and dynamics.<br>
              Strength of materials and solid mechanics.<br>
              Materials engineering, Composites.<br>
              Thermodynamics, heat transfer, energy conversion, and HVAC.<br>
              Fuels, combustion, Internal combustion engine.<br>
              Fluid mechanics (including fluid statics and fluid dynamics)<br>
              Mechanism and Machine design (including kinematics and dynamics)<br>
              Instrumentation and measurement.<br>
        </p>
    </div>
    <div class="col-sm-4">
        <img class="img-fluid-md" src="https://www.thewedesign.co.uk/blog/image/image1%20(8).jpg" alt="" height="350px" width="500px">
    </div>

</div>
