<section id="team">
    <div class="container">
        <div class="section-header">
            <h3>Team</h3>
            <p>Meet our team</p>
        </div>
      <div class="row">
          <div class="row seven-cols">
          <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <div class="member"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559454811/team-1.jpg" class="img-fluid" alt="">
                   <div class="member-info">
                      <div class="member-info-content">
                        <h4>Prasanth Reddy</h4> <span>Chief Executive Officer</span>
                      <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="member"> <img src="/assets/sravanth.jpg" height="100px" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Sravanth varma</h4> <span>Project Manager</span>
                            <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="member"> <img src="/assets/monish.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Monish Kumar</h4> <span>CTO</span>
                            <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2  wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="member"> <img src="/assets/nagasai.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Nagasai</h4> <span>Civil HOD</span>
                            <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <div class="member"> <img src="/assets/girish.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                      <div class="member-info-content">
                          <h4>Girish</h4> <span>Mech HOD</span>
                          <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-2  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="member"> <img src="/assets/ramesh.jpg" class="img-fluid" alt="">
                <div class="member-info">
                    <div class="member-info-content">
                        <h4>Ramesh</h4> <span>Chief Executive Officer</span>
                        <div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
  
        </div>
        </div>
    </div>
  </section>







  <div class="card-deck">
    <div class="card">
         <div class="card-header bg-primary text-center">
        <p class="card-text">Vision</p>
    </div> 
      <div class="card-body text-center">
          <img src="\assets\vision.jpeg" width="400px" height="300px" alt="">
          <h5>To be an institution of International eminence,renowned for imparting 
              quality technical education,cutting edge research and innovation to 
              meet global socio-economic needs</h5>
      </div>
    </div>
    <div class="card ">
        <div class="card-header bg-secondary text-center">
            <p class="card-text">Mission</p>
        </div>
        <div class="card-body text-center">
            <img src="\assets\mission.jpg" width="400px" height="320px"alt="">
            <h5>RIT shall meet the global socio-economic needs through<br>

                1.imparting quality technical education by nurturing a conductive 
                learning environment throgh continuous improvement and customization.
                <br>
                2.Establishing research clusters in emerging areas in collaboration
                with globally reputed organizations.<br>
                3.establishing innovative skills development,techno-entrepreneurial 
                activities and consultancy for socio-economic needs

            </h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-success text-center">
            <p class="card-text">Quality Policy</p>
        </div>
      <div class="card-body text-center">
          <img src="\assets\quality.jpeg" width="400px" height="300px" alt="">
          <h5>We are at M.S.Ramaiah institute of technology,bangalore strive to deliver
           comprehensive,continually enhanced,global quality technical and management 
           education an established Quality managementsystem complemented by the 
           synergistic intreaction of the stake holders concerned.</h5>
      
      </div>
    </div>
    
  </div>  

  <!-- <div class="row">
      <div class="col-sm-4">
        <img src="\assets\vision.jpeg" width="400px" height="300px" alt="">
        <p>       To be an institution of International eminence,renowned for imparting 
            quality technical education,cutting edge research and innovation to 
            meet global socio-economic needs</p>
      </div> 
      <div class="col-sm-4">
          <img src="\assets\mission.jpg" width="400px" height="320px"alt=""><br>
             RIT shall meet the global socio-economic needs through<br>

           <p>1.imparting quality technical education by nurturing a conductive 
            learning environment throgh continuous improvement and customization.
            <br>
            2.Establishing research clusters in emerging areas in collaboration
            with globally reputed organizations.<br>
            3.establishing innovative skills development,techno-entrepreneurial 
            activities and consultancy for socio-economic needs.</p> 

        </div> 
      <div class="col-sm-4">
        <img src="\assets\quality.jpeg" width="400px" height="300px" alt="">
          <p>We are at M.S.Ramaiah institute of technology,bangalore strive to deliver
         comprehensive,continually enhanced,global quality technical and management 
         education an established Quality managementsystem complemented by the 
         synergistic intreaction of the stake holders concerned.</p>
    
      </div> 

  </div> -->