<!-- <div id="demo" class="carousel slide" data-ride="carousel">

    Indicators 
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    The slideshow 
    <div class="carousel-inner">
      <div class="carousel-item active">
       
        <img src="\assets\lab2.jpeg" width="1700px"height="500px" alt="infrastructure">
        <div class="carousel-caption">
            <h3></h3>
            <p>Go confidently in the direction of your dreams! Live the Life you've imagined.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.wallpaperscraft.com/image/books_library_shelves_138556_3840x2400.jpg" width="1700px"height="500px" alt="lab">
      </div>
      <div class="carousel-item">
        <img src="\assets\Programme.jpeg" width="1700px"height="500px"  alt="placements">
      </div>
    </div>
  
     Left and right controls 
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> -->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="img"><img class="img-fluid-md" width="100%"height="500px" src="\assets\lab2.jpeg" alt="First slide"></div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class="img-fluid-md" width="100%"height="500px" src="https://www.arup.com/-/media/arup/images/expertise/industries/education-university-nottingham-engineering-science-library-mhk-photography-2000x1125.jpg?h=1125&w=2000&hash=3C31F273DC5D960288529B5132821B12" alt="Second slide"></div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class="img-fluid-md" width="100%"height="500px" src="https://images.wallpaperscraft.com/image/books_library_shelves_138556_3840x2400.jpg" alt="Third slide"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="row">
    <div class="col-sm-3 bg-dark"> 
      
      <img src="\assets\new.jpeg" width="80" height="50" alt="updates">
      <br>
      <div class="text-center">
        <a href=""><marquee scrollamount="3" width="40">&lt;&lt;&lt;</marquee>
          <img src="https://jntua.ac.in/wp-content/uploads/2018/08/new.gif">
       Management Details
        <marquee scrollamount="3" direction="right" width="40">&gt;&gt;&gt;</marquee></a></div>
         <!-- <img src="\assets\new.jpeg" width="125" height="82" alt="Flying Bat"> Management details -->
        <a class="nav-link" href=""> <marquee width="100%" direction="right" height="50px"scrollamount="10"onMouseOver="this.stop()" onMouseOut="this.start()">
          Hostel Infrastructure
          </marquee></a>
         
          
<div style="display: inline-flex; background:#2979ff none repeat scroll 0 0; height: 35px; width:100%; margin-bottom:2px;">
  <div style="width: 15%; font-size: 10px; color:#fff; background-color: #DD1274; font-weight:bold; padding: 6px 9px;">LATEST NEWS</div>
  <div style="font-size: 16px; padding: 6px 0px; width:90%; color:#fff; background-color: green; ">
<marquee scrollamount="3" scrolldelay="1" onmouseover="this.stop()" onmouseout="this.start()" direction="left">
      <ul>						  <li style="display: inline-block; color: #fff;">
&nbsp;&nbsp;&nbsp;<span style="color:#fff; font-weight: bold;"></span>&nbsp;<span></span>&nbsp;&nbsp;<a style="color: #fff; font-weight: bold; text-decoration: none; font-size: 15px; line-height: 14px;" href="https://www.jntua.ac.in/postponement-of-three-day-national-workshop-on-research-and-publication-ethics-scheduled-during-20-22-feb-2020-reg/">Postponement of Three-Day National Workshop on “Research and Publication Ethics” scheduled during 20-22 may 2020 – Reg.&nbsp;&nbsp;<img src="https://jntua.ac.in/wp-content/uploads/2018/08/new.gif" style="vertical-align: baseline;"></a>
</li>		      
             
</ul>                    </marquee>
  </div>
</div>



         <a class="nav-link" href=""><marquee width="100%" direction="right" height="50px"scrollamount="10">
          Exam Timetable 
          </marquee></a>
   
     
     </div>
     <div class="col-sm-9 text-center bg-info">
     <h4><u> OUR FACILITIES</u></h4> <br>
     <p>TRANSPORT FACILITY.</p> <br>
     <p> CAFETERIA</p> <br>
     <p>LIBRARY & INFORMATION CENTER.</p> <br>
     <p>HOSTEL FACILITY</p>
    </div>

  </div>

  
   <marquee behavior="" direction="right" style="background-color:rgb(172, 156, 116)">
    <div class="text-center">
      <h2 >PLACEMENTS</h2>
    </div>
   </marquee>  
   
   
<div class="container-fluid" style="margin-top: auto;"> 

      <!--<h6 class="display-4 text-center">PLACEMENTS</h6> -->
     
      <div class="box" style="background-image: url( https://www.socialtalent.com/wp-content/uploads/2016/12/blur-1867166_640.jpg);">
       <p class="text-white text-center">380+</p><br>
       <p class="text-white text-center">Recruiters</p> 

       
      </div>
      <div class="box1" style="background-image: url(https://stjosephs.ac.in/images/singlepage_images/placement2.jpg);"> 
        <p class="text-white text-center">90% </p><br>
        <p  class="text-white text-center">Students Placed</p>
      </div>
      <div class="box2" style="background-image: url(https://adoptoprod.blob.core.windows.net/article/5Jads9Re50KN7DVzL4gaFA.png?6883);">
        <p class="text-white text-center">40%</p> <br>
       <p class="text-white text-center"> New Recruiters</p>
      </div>
      <div class="box3" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2016/11/Jerene-Nov-2016-pay-increase-123RF-700x420.jpg);">
       <p class="text-white text-center">25%</p>  <br>
       <p class="text-white text-center">Increase in Salary</p> 
      </div>
      <div class="box4" style="background-image: url(https://cdn.thegentlemansjournal.com/wp-content/uploads/2015/02/google-highest-paid-jobs-3-624x692-c-center.jpg);" >
        <p class="text-white text-center">22.6</p> <br>
         <p class="text-white text-center">LPA </p><br>
          <p class="text-white text-center">Highest Salary</p>
      </div>
      <div class="box5" style=" background-image: url(https://www.insuremypath.org/sites/default/files/styles/490x350/public/2019-08/starting-salary-648x364-c-default.jpg?itok=6rkKoqdB);">
       <p class="text-center text-white"> 5</p> <br>
       <p class="text-center text-white"> LPA</p> <br>
       <p class="text-center text-white">Average Salary</p> 
      </div>
    
    </div>
    

